{% extends "blog/layout.html" %}

{% block content %}

  <form action="" method="GET">
    <input type="text" name="query" value="{{query}}">
    <input type="submit" value="검색">
  </form>
    <a href="{% url 'blog:post_new' %}">New Post</a>
<ul>
  {% for post in post_list %}
    <li>
        {{ forloop.counter }}
        <a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a>
        <small>({{ post.created_at|timesince }} ago)</small>
    </li>
  {% empty %}
      <li>항목이 없습니다.</li>
  {% endfor %}

{% endblock %}